.card{
 width: 100%;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.picture{
 width: 100%;
 height: auto; /* 또는 고정 높이로 설정: height: 200px; */
object-fit: cover;
}
.cardcontent{
background-color: white;
 font-weight: 300;
 font-size: 10px;
}
.undercontent{
display: flex; 
align-items: center;
justify-content:space-between;

}

.button{
    border-color: gray;
border-radius: 4px;
padding: 5px 10px;
}
.time{
color: gray;
font-size: 10px;}